<p class="input-group">
  <input id="tnt-date-picker" ng-disabled="ngDisabled" type="text" ng-model="model" us-date
         class="form-control input-sm" ng-required="tntRequired"/>
    <span class="input-group-btn" tabindex="-1">
        <button ng-disabled="ngDisabled" type="button" class="btn btn-sm" tabindex="-1" ng-click="open($event)"><i
          class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>
<input type="text" ng-disabled="ngDisabled" class="tnt-date-picker-hidden-input" datepicker-options="datepickerOptions"
       uib-datepicker-popup="longDate"
       datepicker-options="{dateDisabled: disabled}" ng-model="model" is-open="opened" tabindex="-1"
       close-text="Close"/>
